.planets{
    /*width: 200px;*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*border: 2px solid black;*/
    padding: 20px 0 0 0;

}

.itemPlanet:hover{
    cursor: pointer;
}

.planets-details {
    /*grid-column-start: 0;*/
}

.list-planet{
    /*align-items: center;*/
    color: blue;
    /*grid-column-start: 1;*/
}
