.links {
    margin: 5px;
}

.links__btn {
    margin: 5px;
    text-decoration: none;
}

.links__btn:hover {
    font-weight: bold;
}

.links__btn.activeClass button {
    background-color: #0d6efd;
    color: white;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.5);
}