.app-wrapper__btn {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "a" "b";

}

.app-wrapper__buttons {
    /*background-color: aqua;*/
    grid-area: a;
}

.app-wrapper__content {
    /*background-color: cornflowerblue;*/
    grid-area: b;
}
